.wrapper {
    background-color: #fffbeb;
    width: 100%;
    height: 95px;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin: auto;
}

.item {
    text-align: center;
    color: #171717;
    padding: 20px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.item:hover {
    background-color: #fcd34d;
}

.active {
    background-color: #451a03;
    color: #fff;
}
